@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: open sans;
}



.card-img{
  width:100% ;
  height: 25vh;
  object-fit: cover;
}

.post-title{
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-content{
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 70vh;
  object-fit: cover;
}

.postpage-p{
  
  text-align: justify;
}

.brand-logo{
  height: 4vh;
  width: 4vh;
  object-fit: cover;
  border-radius: 50%;
}

#commentdate{
  font-size: 0.9rem;
  font-style: italic;
}



.profile-pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: width 0.3s ease, height 0.3s ease;
}

@media (max-width: 768px) {
  .profile-pfp {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .profile-pfp {
    width: 120px;
    height: 120px;
  }
}

.quill-editor-container .ql-editor {
  min-height: 400px; /* Adjust this to control the minimum height of the editing area */
}

.pfp-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  color: rgb(255, 123, 0);
}

